.arrow-bottom(@bgcolor, @size) {
	position: relative;
	background: @bgcolor;

	&:after {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-top-color: @bgcolor;
		border-width: @size;
		margin-left: -@size;
	}
}

.arrow-bottom-with-border(@color, @borderColor, @size, @borderSize) {
	&:after, &:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		//border-color: rgba(255, 255, 255, 0);
		border-top-color: @color;
		border-width: @size;
		margin-left: -@size;
	}
	&:before {
		//border-color: rgba(219, 51, 245, 0);
		border-top-color: @borderColor;
		border-width: @size + @borderSize + 1px;
		margin-left: -@size - @borderSize - 1px;
	}

	@media(max-width: 768px) {
		&:after, &:before {
			display: none;
			opacity: 0;
		}
	}
}

.border-radius(@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.border-radiuses(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius: @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius: @bottomleft;
	-webkit-border-top-left-radius: @topleft;

	-moz-border-radius-topright: @topright;
	-moz-border-radius-bottomright: @bottomright;
	-moz-border-radius-bottomleft: @bottomleft;
	-moz-border-radius-topleft: @topleft;

	border-top-right-radius: @topright;
	border-bottom-right-radius: @bottomright;
	border-bottom-left-radius: @bottomleft;
	border-top-left-radius: @topleft;

	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box; 
	background-clip: padding-box; 
}

.box-shadow(@horizontal: 0, @vertical: 2px, @blur: 3px, @r: 0, @g: 0, @b: 0, @alpha: 0.3) {
	-moz-box-shadow: @horizontal @vertical @blur rgba(@r, @g, @b, @alpha);
	-o-box-shadow: 	@horizontal @vertical @blur rgba(@r, @g, @b, @alpha);
	-webkit-box-shadow: @horizontal @vertical @blur rgba(@r, @g, @b, @alpha);
	box-shadow: @horizontal @vertical @blur rgba(@r, @g, @b, @alpha);
}
.inner-shadow(@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.valign-center(@height) {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    height: @height;
	text-align: center;

}

.animation(@name, @duration: 300ms, @delay: 0, @ease: ease) {
	-webkit-animation: @name @duration @delay @ease;
	-moz-animation: @name @duration @delay @ease;
	-ms-animation: @name @duration @delay @ease;
}

.transform(@string){
	-webkit-transform: @string;
	-moz-transform: @string;
	-ms-transform: @string;
	-o-transform: @string;
}

.transition(@poperty: all, @time: 0.25s, @method: ease) {
  -webkit-transition: @poperty @time @method;
  -moz-transition: @poperty @time @method;
  -ms-transition: @poperty @time @method;
  -o-transition: @poperty @time @method;
  transition: @poperty @time @method;
}

.opacity(@opacity) {
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
}

.bg-size(@size) {
	-webkit-background-size: @size;
    -moz-background-size: @size;
    -o-background-size: @size;
    background-size: @size;
}

.rounded-corners(@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.full-fill {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.dark-gradient {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 1%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}

.blue-gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#498fe1+0,4384d0+100 */
	background: #498fe1; /* Old browsers */
	background: -moz-linear-gradient(top, #498fe1 0%, #4384d0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #498fe1 0%,#4384d0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #498fe1 0%,#4384d0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#498fe1', endColorstr='#4384d0',GradientType=0 ); /* IE6-9 */
}

//
//

.openSansRegular {
	//font-family: open_sansregular;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

.ubuntuBold {
	font-family: 'Ubuntu', sans-serif;
	//font-family: ubuntubold;
	font-weight: normal;
}
