.old-price {
  text-transform: uppercase;
  .openSansRegular;
  color: @gray;
  text-decoration: line-through;
  font-size: @oldPriceTextSize;
}

.price {
  text-transform: uppercase;
  .ubuntuBold;
  color: @purple;
  font-size: @priceTextSize;
}

.add-basket-btn {
  .ubuntuBold;
  color: @white;
  font-size: @addToBasketTextSize;
  .valign-center(@addToBasketHeight);
  padding: 0 15px;
  background: @darkBlue;
}

.header-tab {
  .transition(all, 0.25s, ease);
  .valign-center(@headerTabsHeight);
  position: relative;
  text-align: left;
  color: @white;
  border: 2px solid;
  border-color: transparent;

  .np-icon {
    position: absolute;
    display: block;
    height: @headerIconSize;
    width: @headerIconSize;
    right: 25px;
    top: 50%;
    margin-top: -20px;
    font-size: @headerIconSize;
  }

  .tab-text {
    padding: 0 75px 0 20px;
    .ubuntuBold;
    line-height: 26px;
    font-size: @headerTextSize;
  }

  &.purple {
    background: @purple;
    &.active, &:hover, &:focus {
      background: @white;
      color: @purple;
      border-color: @purple;
    }
    &.active {
      .arrow-bottom-with-border(@white, @purple, 15px, 2px);
    }
  }
  &.yellow {
    background: @yellow;
    &.active, &:hover, &:focus {
      background: @white;
      color: @yellow;
      border-color: @yellow;
    }
    &.active {
      .arrow-bottom-with-border(@white, @yellow, 15px, 2px);
    }
  }
  &.green {
    background: @green;
    &.active, &:hover, &:focus {
      background: @white;
      color: @green;
      border-color: @green;
    }
    &.active {
      .arrow-bottom-with-border(@white, @green, 15px, 2px);
    }
  }
  &.blue {
    background: @blue;
    &.active, &:hover, &:focus {
      background: @white;
      color: @blue;
      border-color: @blue;
    }
    &.active {
      .arrow-bottom-with-border(@white, @blue, 15px, 2px);
    }
  }

  &:hover, &.active, &:focus {
    text-decoration: none;
  }

  &.active {
    background: @white;
  }

}

.ticket-element {
  position: relative;
  padding: 30px 40px;
  .inner-shadow(0, 0, 0, 1px, 0.12);
  //border: 1px solid @borderColor;
  border-bottom: 4px solid @borderColor;
  margin-bottom: 20px;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    .inner-shadow(0, 4px, 0, 0, 0.12);
    border: 1px solid @borderColor;
    background: @white;
    .rounded-corners(50%);
  }
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    .inner-shadow(0, 4px, 0, 0, 0.12);
    border: 1px solid @borderColor;
    background: @white;
    .rounded-corners(50%);
  }

  .ticket-right {
    .valign-center(auto);
    text-align: left;
  }
}

.service {
  //display: inline-block;
  float: left;
  text-align: center;
  width: 100px;
  padding: 0 10px;

  .service-icon {
    width: 70px;
    margin: 0 auto;
    .valign-center(70px);
    .rounded-corners(50%);
    border: 2px solid @darkBlue;
    color: @darkBlue;
    font-size: 40px;
  }
  .service-title {
    padding-top: 10px;
    height: 40px;
    line-height: 18px;
  }
}

.add-to-basket {
  border: none;
  background: @darkBlue;
  color: @white;
  position: relative;
  .valign-center(60px);
  padding: 15px;
  margin-bottom: 20px;
  .icon-shopping_cart {
    position: absolute;
    font-size: 35px;
  }
  .basket-text {
    .ubuntuBold;
    font-size: 18px;
    padding-left: 50px;
  }
}

.time-left {
  span {
    color: @purple;
  }
}