@font-face {
  font-family: 'open_sansregular';
  src: url('@{base-fonts-dir}/opensans-regular-webfont.woff2') format('woff2'),
  url('@{base-fonts-dir}/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ubuntubold';
  src: url('@{base-fonts-dir}/ubuntu-bold-webfont.woff2') format('woff2'),
  url('.@{base-fonts-dir}/ubuntu-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}