@font-face {
  font-family: 'np-icons';
  src:  url('@{base-fonts-dir}/fonts/np-icons.eot?2k0oxq');
  src:  url('@{base-fonts-dir}/np-icons.eot?2k0oxq#iefix') format('embedded-opentype'),
  url('@{base-fonts-dir}/np-icons.ttf?2k0oxq') format('truetype'),
  url('@{base-fonts-dir}/np-icons.woff?2k0oxq') format('woff'),
  url('@{base-fonts-dir}/np-icons.svg?2k0oxq#np-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'np-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_up:before {
  content: "\e900";
}
.icon-cocktail:before {
  content: "\e901";
}
.icon-cutlery:before {
  content: "\e902";
}
.icon-diamond:before {
  content: "\e903";
}
.icon-fast_food:before {
  content: "\e904";
}
.icon-happy_drop:before {
  content: "\e905";
}
.icon-hourglass:before {
  content: "\e906";
}
.icon-microphone_2:before {
  content: "\e907";
}
.icon-shopping_cart_content:before {
  content: "\e908";
}
.icon-shopping_cart:before {
  content: "\e909";
}
.icon-ticket:before {
  content: "\e90a";
}

