body {
  .openSansRegular;
}

#content {
  padding: 20px;
}

.container-fluid {
  padding: 0;
}

nav {
  margin-bottom: 20px;
  .navbar-collapse {
    padding: 0;
  }

  .nav-tab {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      padding:0;
      border-right: 3px solid @white;
      &:last-child {
        border: none;
      }

      @media(max-width: 768px) {
        border-bottom: 3px solid @white;
      }
    }

  }

  @media(max-width: 768px) {
    .navbar-collapse, .navbar-header {
      margin: 0!important;
    }
  }

}

.navbar-toggle {
  border: 2px solid @borderColor;
  .icon-bar {
    background: @borderColor;
  }
}

h2 {
  .ubuntuBold;
  font-size: @listTitleTextSize;
  color: @purple;
  margin:  0 0 20px;
}

.prices-info {
  ul {
    padding: 0;
    margin-bottom: 20px;
    li {
      font-size: @listinfoTextSize;
      color: @gray;
      &:first-child {
        color: black;
      }
      display: inline-block;
      &:after {
        content: '>';
        margin: 0 5px;
      }
      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }
}

.info-list {
  ul {
    padding: 0;
    margin-bottom: 20px;
    list-style-type: none;
    position: relative;
    li {
      display: block;
      font-size: @listinfoTextSize;
      padding-left: 22px;
      &:before {
        display: block;
        position: absolute;
        left: 0;
        content: '>';
        color: @gray;
        margin: 0 5px;
      }
    }
  }
}

.basket-info {
  .ubuntuBold;
  font-size: 30px;
  color: @darkBlue;
}

