@gray:                  #a1a1a1;
@purple:                #90307d;
@yellow:                #fed007;
@green:                 #41a743;
@blue:                  #2081c3;
@darkBlue:              #174e72;
@white:                 white;
@borderColor:           #dddddd;

@headerTextSize:        22px;
@listTitleTextSize:     38px;
@listinfoTextSize:      14px;
@oldPriceTextSize:      20px;
@priceTextSize:         40px;
@headerIconSize:        40px;
@addToBasketTextSize:   @oldPriceTextSize;
@timeLeftTextSize:      @listinfoTextSize;

@addToBasketHeight:     60px;
@headerTabsHeight:      90px;

@base-fonts-dir: '../fonts';
@base-images-dir: '../images';